.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 96px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddd;
  border-radius: 3px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift>input {
  margin-right: 5px;
}

.subtotal>button {
  padding: 4px;
  width: 100%;
  background-color: #f4d07a;
  border-radius: 2px;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #ADB1B8 #A2A6AC #8D9096;
  outline: none;
  cursor: pointer;
}